<?xml version='1.0' encoding="GBK" ?>
<Configuration status="DEBUG" monitorInterval="60">

    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%7r] %6p - %30.30c - %m \n"/>
        </Console>
        <RollingRandomAccessFile name="ServerSide" fileName="${log-dir}/serverside.log" filePattern="${log-dir}/serverside.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d [%7r] %6p - %30.30c - %m \n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${log-dir}" maxDepth="1">
                    <IfFileName glob="serverside.*.log" />
                    <IfLastModified age="5d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="requestLog" fileName="${log-dir}/request.log" filePattern="${log-dir}/request.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d [%7r] %6p - %30.30c - %m \n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${log-dir}" maxDepth="1">
                    <IfFileName glob="request.*.log" />
                    <IfLastModified age="5d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <tracer name="tracerAppender"></tracer>
    </Appenders>

    <Loggers>

        <Logger name="exceptionLog" level="ERROR" additivity="false">
            <AppenderRef ref="exceptionLog"/>
            <AppenderRef ref="tracerAppender" />
        </Logger>

        <Logger name="RequestLog" level="INFO" additivity="false">
            <AppenderRef ref="requestLog"/>
            <AppenderRef ref="tracerAppender" />
        </Logger>

        <Root level="INFO" includeLocation="false">

        </Root>
    </Loggers>
</Configuration>